@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #555;
    height: 25px;
    width: 100%;
    -webkit-app-region: drag;
}

.app-title{
    color: #eee;
    font-family: 'Roboto', sans-serif;
    padding-left : 10px;
    line-height:25px;
}

.btn-group{
    display: flex;
    flex-direction: row-reverse;
}

.action-btn {
    height: 100%;
    margin-left : 0px;
    padding: 0 10px;

    -webkit-app-region: no-drag;
}

.action-btn:hover {
    background-color: #777;
}

#exit-btn {
    background-color: rgb(255, 70, 70)
}

#exit-btn:hover {
    background-color: rgb(240, 40, 40)
}

.content {
    display:flex;
    justify-content:space-around;
    width: 100%;
}

.btn-clickable{
    background-color: rgb(31, 170, 31);
    height: 100px;
    width: 100px; 

    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}
.btn-clickable.clicked {
    background-color: rgb(101, 202, 101);
}