@import url("https://fonts.googleapis.com/css?family=Roboto");
.app-title {
  color: #eee;
  font-family: 'Roboto', sans-serif;
  padding-left: 10px;
  line-height: 25px; }

.btn-group {
  display: flex;
  flex-direction: row-reverse; }

.action-btn {
  height: 100%;
  margin-left: 0px;
  padding: 0 10px;
  -webkit-app-region: no-drag; }

.action-btn:hover {
  background-color: #777; }

#exit-btn {
  background-color: #ff4646; }

#exit-btn:hover {
  background-color: #f02828; }

.btn-clickable {
  height: 100px;
  width: 100px;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  margin: 3px;
  background-color: black;
  transition-property: border-color, border-width, margin;
  transition-duration: 500ms;
  border: 1px rgba(0, 0, 0, 0) solid; }
  .btn-clickable.clicked {
    background-color: #1a1a1a; }
  .btn-clickable.alert {
    border: 3px red solid;
    margin: 1px; }
  .btn-clickable:nth-child(1) {
    background-color: #329632; }
    .btn-clickable:nth-child(1).clicked {
      background-color: #3fbc3f; }
  .btn-clickable:nth-child(2) {
    background-color: #3fbc3f; }
    .btn-clickable:nth-child(2).clicked {
      background-color: #63cb63; }
  .btn-clickable:nth-child(3) {
    background-color: #50c550; }
    .btn-clickable:nth-child(3).clicked {
      background-color: #76d176; }
  .btn-clickable:nth-child(4) {
    background-color: #63cb63; }
    .btn-clickable:nth-child(4).clicked {
      background-color: #89d889; }
  .btn-clickable:nth-child(5) {
    background-color: #76d176; }
    .btn-clickable:nth-child(5).clicked {
      background-color: #9cde9c; }
  .btn-clickable:nth-child(6) {
    background-color: #89d889; }
    .btn-clickable:nth-child(6).clicked {
      background-color: #b0e5b0; }
  .btn-clickable:nth-child(7) {
    background-color: #9cde9c; }
    .btn-clickable:nth-child(7).clicked {
      background-color: #c3ebc3; }
  .btn-clickable:nth-child(8) {
    background-color: #b0e5b0; }
    .btn-clickable:nth-child(8).clicked {
      background-color: #d6f1d6; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: hidden; }

header {
  display: flex;
  justify-content: space-between;
  background-color: #555;
  height: 25px;
  width: 100%;
  -webkit-app-region: drag; }

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: calc(100% - 25px); }

.upper-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }
  .upper-content .score-container {
    margin: 0.8em;
    display: flex;
    flex-direction: row; }

.middle-content {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.settings-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30px;
  margin: 7px 0; }

#setting-icon {
  margin: 0 7px;
  height: 30px;
  width: 30px; }

#setting-svg {
  fill: #666666; }

#setting-svg:hover {
  fill: #8a8a8a; }

.button-list {
  display: flex;
  justify-content: space-around;
  width: 100%; }
